{% extends 'base.html' %}

{% block title %}
  Desk page
{% endblock %}

{% block content %}
  <div class="container center">
    {% for row in items|batch(3) %}
    <div class="row mt-3">
      {% for item in row%}
      <div class="col-3 ml-3" style="color: #212121;">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ item.id }}. {{ item.name }}</h5>
              <p class="card-text">{{ item.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Found by: {{ item.found_by }}</li>
              <li class="list-group-item">Founder Contact: {{ item.founder_contact }}</li>
            </ul>
            <div class="card-body">
              <button class="btn btn-outline-primary"><a href="#" style="color: #212121;">See More</a></button>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
{% endblock %}